// Background greys always 2-tints yellow
// Text no tint

body
  background: #27698B
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#27698B), to(#07496B))
  
  font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif
  color: #3D3D3D

#container
  width: 980px
  margin: 0 auto

p
  color: #484848
  font-size: 110%
  
a
  color: #407f9f

#escape-button
  float: right
  line-height: 2.5em
  text-align: right
  color: white
  text-decoration: none
  background: #8ade5d url(/images/right-arrow.png) no-repeat right 50%
  padding: 0 40px 0 15px
  border: solid #54be13 1px
  -webkit-border-radius: 10px
  -moz-border-radius: 10px

#tagline
  width: 587px
  margin-bottom: 5px 
  padding: 35px 0 0 0
  overflow: hidden
  background-image: url(/images/leave.png)
  background-repeat: no-repeat
  height: 0px !important
  height: 35px

#presented-by
  width: 100px
  float: right
  margin-right: 20px
 
  padding: 60px 0 0 0
  background-image: url(/images/thistle.png)
  background-position: 50% 0
  background-repeat: no-repeat
  height: 0px !important
  height: 62px

  text-decoration: none
  color: #EEE
  font-size: 12px
  text-align: center
  font-weight: normal
  
  display: none

#content
  clear: left
  background: white
  overflow: auto
  padding: 25px
  -webkit-border-top-left-radius: 20px
  -webkit-border-top-right-radius: 20px

#footer
  padding: 10px 0
  background-color: #F9F9F7
  margin-bottom: 40px
  text-align: center
  font-size: 80%
  -webkit-border-bottom-left-radius: 20px
  -webkit-border-bottom-right-radius: 20px
  border-top: solid #f3f3f1 4px

#subnav
  width: 215px
  float: left
  padding-right: 15px

#main
  width: 725px
  float: left
  margin-right: 10px

#aside
  float: right
  width: 160px
  margin-left: 15px
  
.description
  font-size: .9em
  .location
    color: #4791b6
    text-decoration: none
    margin-left: 0.5em
  time
    color: #616161
  details
    display: block
    margin: 10px 0

.featured
  h3
    font-size: 1.5em
  .description
    .location
      display: block
      margin-left: 0

h1,h2,h3,h4,h5,h6
  font-family: "Helvetica", helvetica, arial, sans-serif

h1,h2,h3
  font-weight: bold

h3
  font-size: 24px
    
#quick-links 
  margin-bottom: 20px
  li.upcoming-events
    background: url(/images/calendar.png) no-repeat 10px 50%
  li.tartan-faves
    background: url(/images/tartan-faves.png) no-repeat 10px 50%
  li.night-out
    background: url(/images/night-out.png) no-repeat 10px 50%
  li
    border-bottom: solid #EEEEEC 1px
    a.quick-link
      display: block
      padding: 20px 0
      padding-left: 70px
    &:last-child
      border-bottom: 0

.ad
  margin: 10px 0

.read-more 
  display: block

.list 
  width: 490px
  float: left
  margin-bottom: 15px
  li
    width: 235px
    margin-right: 10px
    float: left
  h4 a
    color: #333
  h3 
    font-size: 18px
    font-weight: normal
    padding-bottom: 5px
    margin-bottom: 5px
    border-bottom: solid #929292 1px
    
.article 
  margin-bottom: 15px

.search 
  margin: 1em 0
  width: 100%

.section-header
  background: #f9f9f7
  border-bottom: solid #f3f3f1 4px
  padding: 10px

.featured 
  margin-bottom: 30px
  overflow: auto

.featured img 
  float: left
  margin-right: 1em
  width: 250px

#login-links 
  -webkit-border-bottom-left-radius: 10px
  -webkit-border-bottom-right-radius: 10px
  padding: 7px 15px
  background: #37799B
  color: white
  float: right
  margin-bottom: 20px
  font-size: 12px
  a 
    color: #5bb4e1

.search-field
  background: #FFFFFD
  padding: 0 10px

#header
  padding: 15px 0
  
//Homepage additions

.add-event
  display: block
  padding: 10px
  border: solid #f3f3f1 2px
  -webkit-border-radius: 10px
  margin-bottom: 10px

#scream
  background: #F9F9F7
  -webkit-border-top-left-radius: 20px
  -webkit-border-top-right-radius: 20px
  border-bottom: solid #f3f3f1 4px
  padding: 25px
  padding-top: 35px
  clear: left
  p
    color: #777

.mood-select
  dl
    padding: 5px
    background: #FFFFFD
  dt
    clear: left
    font-weight: bold
    padding: 10px 0
  dd
    overflow: auto
  label
    -webkit-user-select: none
    float: left
    font-size: 0.8em
    padding: 5px 0
    width: 100px
    input
      margin-right: 5px
  input.find
    clear: left
    margin-top: 10px

#scream + #content
  -webkit-border-top-left-radius: 0
  -webkit-border-top-right-radius: 0
  
// forms

.inputs
  li
    display: block
    clear: both
    padding-top: 15px
  .error
    label
      color: red
      line-height: 34px // two higher for border
    input, textarea
      border: solid red 2px
    .inline-errors
      width: 300px
      line-height: 32px
      margin-left: 132px
      padding: 6px
      background-color: #F99
      color: white
      border: solid red 2px
  label, .label
    display: block
    float: left
    width: 120px
    padding: 6px
  .label label
    padding: 0
    line-height: normal
    width: auto
  .underneath-input
    margin-left: 132px
    line-height: 32px
    clear: left
    .or
      float: left
      padding-right: 15px
      font-style: italic
    li
      float: left
      clear: none
      padding-top: 0
    label
      padding: 0
      width: auto
    input
      margin-right: 5px
      width: auto
      display: inline
  input, textarea
    float: left
    width: 300px
    padding: 6px
    font-size: 18px
  textarea
    height: 200px
    resize: vertical
  input
    overflow: hidden
    height: 32px
    margin: 0
  li
    position: relative
    .inline-hints
      position: absolute
      left: 450px
  .inline-hints
    margin-top: -10px
    width: 225px
    padding: 6px
    padding-left: 12px
    color: #479
  .category-select
    ol
      float: left
      display: block
      width: 300px
      padding: 6px
    fieldset
      display: inline
      float: left
    legend
      display: block
    li
      overflow: visible
      display: block
      label
        float: left
        width: auto
        -webkit-user-select: none
        margin-right: 5px
        border: solid #DDDDDB 1px
        -webkit-border-radius: 3px
        width: 125px
        margin: 0 7px 7px 0
        padding: 0 6px
        line-height: 32px
        font-size: 16px
        input
          margin-right: 5px
    input, li
      display: inline
      width: auto

.buttons
  margin-top: 15px

input.create, input.update
  background: #8ade5d
  color: white
  border: solid #54be13 1px
  -webkit-border-radius: 10px
  padding: 5px 10px
  font-size: 18px
      
// Default font sizes

h1
  font-size: 2em
h2
  font-size: 1.5em
h3
  font-size: 1.17em

//

.vevent
  .description
    margin: 1em 0
    white-space: pre-wrap
  aside
    float: right
    margin-left: 1em
  dl.info
    dt
      margin-bottom: 0.5em
      font-weight: bold
      clear: left
      float: left
      width: 100px
    dd
      float: left
      
//

.notice, .alert
  margin-bottom: 1em
  padding: 10px
.notice
  background: #fff9d8
  color: #635507
.alert
  background: #f7a7a1
  color: #5f0802

.categories
  margin: 10px 0

.short-description
  padding: 5px
  border: solid #F3F3F0 2px
  -webkit-border-radius: 10px
  background: #EEEEEC
  .adjective, .noun
    text-decoration: underline
    
.beta-fly-in
  background: #f8dfa1
  font-size: 14px
  .fly-in-container
    padding: 7px
  h5
    color: #6b4900
    font-weight: bold

.mapviewer
  width: 200px
  margin: 10px 0

#events-list
  h1
    margin-bottom: 1em
  .search-result
    .location
      margin: 0
    height: 150px
    overflow-y: hidden
    clear: left
    margin: 1em 0
    img
      width: 150px
      height: 150px
      float: left
      margin-right: 1em
      
.vevent
  .description
    width: 400px