body
  background: #27698B
  font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif
  color: #3D3D3D

#container
  width: 980px
  margin: 0 auto

p
  color: #484848
  font-size: 110%
  
a
  color: #407f9f

#escape-button
  float: right
  line-height: 2.5em
  text-align: right
  color: white
  text-decoration: none
  background: #8ade5d url(/images/right-arrow.png) no-repeat right 50%
  padding: 0 40px 0 15px
  border: solid #54be13 1px
  -webkit-border-radius: 10px
  -moz-border-radius: 10px

#tagline
  width: 587px
  margin-bottom: 5px 
  padding: 35px 0 0 0
  overflow: hidden
  background-image: url(/images/leave.png)
  background-repeat: no-repeat
  height: 0px !important
  height: 35px

#presented-by
  width: 100px
  float: right
  margin-right: 20px
 
  padding: 60px 0 0 0
  background-image: url(/images/thistle.png)
  background-position: 50% 0
  background-repeat: no-repeat
  height: 0px !important
  height: 62px

  text-decoration: none
  color: #EEE
  font-size: 12px
  text-align: center
  font-weight: normal

#content
  clear: left
  background: #FFF
  overflow: auto
  padding: 20px
  -webkit-border-top-left-radius: 20px
  -webkit-border-top-right-radius: 20px

#footer
  padding: 10px 0
  background-color: #f9f9f9
  margin-bottom: 40px
  text-align: center
  font-size: 80%
  -webkit-border-bottom-left-radius: 20px
  -webkit-border-bottom-right-radius: 20px
  border-top: solid #f3f3f3 4px

#subnav
  width: 215px
  float: left
  padding-right: 15px

#main
  width: 725px
  float: left
  margin: 0 10px

#aside
  float: right
  width: 160px
  margin-left: 15px
  
.description
  font-size: .9em
  .location
    color: #4791b6
    text-decoration: none
    margin-left: 0.5em
  time
    color: #616161
  details
    display: block
    margin: 10px 0

.featured
  .description
    .location
      display: block
      margin-left: 0

h1,h2,h3,h4,h5,h6
  font-family: "Helvetica Neue", helvetica, arial, sans-serif

h1,h2,h3
  font-weight: bold

h3
  font-size: 24px

#logo
  margin: 15px

#logo a
  font-family: "Neuzeit S LT Std"
  font-size: 72px
  color: white
  text-decoration: none
  text-shadow: #33667f 3px 3px 0

  float: left
    
#quick-links 
  margin-bottom: 20px
  li.upcoming-events
    background: url(/images/calendar.png) no-repeat 10px 50%
  li.tartan-faves
    background: url(/images/tartan-faves.png) no-repeat 10px 50%
  li
    border-bottom: solid #EEE 1px
    a
      display: block
      padding: 20px 0
      padding-left: 70px
    &:last-child
      border-bottom: 0
      
.mood-select
  dd
    overflow: auto
    .mood-select-selected 
      font-weight: normal
      background: #DDD
      border: inset #EEE 1px
      text-shadow: #FFF 1px 1px 2px
    li
      color: #444
      text-transform: lowercase
      float: left
      border: 1px
      width: 93px
      font-size: 12px
      border: solid #FFF 1px
      padding: 5px
      input
        margin-right: 25px

.read-more 
  display: block

.list 
  width: 47%
  margin-right: 3%
  float: left
  margin-bottom: 15px
  h3 
    font-size: 18px
    font-weight: normal
    padding-bottom: 5px
    margin-bottom: 5px
    border-bottom: solid #929292 1px
    color: #666
    
.article 
  margin-bottom: 15px

.search 
  margin: 1em 0

.left-section 
  background: #f4f7f7
  padding: 10px

.featured 
  margin-bottom: 30px
  overflow: auto

.featured img 
  float: left
  margin-right: 1em

#login-links 
  -webkit-border-bottom-left-radius: 10px
  -webkit-border-bottom-right-radius: 10px
  padding: 7px 15px
  background: #37799B
  color: white
  float: right
  margin-bottom: 20px
  font-size: 12px
  a 
    color: #5bb4e1

#header 
  clear: right
  
  
//Homepage additions

#scream
  background: #f9f9f9
  -webkit-border-top-left-radius: 20px
  -webkit-border-top-right-radius: 20px
  border-bottom: solid #f3f3f3 4px
  padding: 25px
  padding-top: 35px
  clear: left
  p
    color: #777

#content
  -webkit-border-top-left-radius: 0
  -webkit-border-top-right-radius: 0
  
// forms

.inputs
  li
    display: block
    clear: both
    margin-top: 15px
    overflow: auto
  .error
    label
      color: red
      line-height: 34px // two higher for border
    input, textarea
      border: solid red 2px
    .inline-errors
      width: 300px
      line-height: 32px
      margin-left: 132px
      padding: 6px
      background-color: #F99
      color: white
      border: solid red 2px
  label, .label
    display: block
    float: left
    width: 120px
    padding: 6px
  .label label
    padding: 0
    line-height: normal
    width: auto
  input, textarea
    float: left
    width: 300px
    padding: 6px
    font-size: 18px
  textarea
    height: 200px
    resize: vertical
  input
    height: 32px
    margin: 0
  #event_start, #event_finish
    width: 200px
  .inline-hints
    // TODO: make me float above so hiding doesn't move inputs
    width: 250px
    float: left
    padding: 6px
    padding-left: 12px
    color: #479
  .category-select
    ol
      float: left
      display: block
      width: 300px
      padding: 6px
    fieldset
      display: inline
      float: left
    legend
      display: block
    li
      overflow: visible
      display: block
      label
        float: left
        width: auto
        -webkit-user-select: none
        margin-right: 5px
        border: solid #DDD 1px
        padding: 0 6px
        height: 32px
        line-height: 32px
        font-size: 18px
        input
          margin-right: 5px
    input, li
      display: inline
      width: auto

.button, input[type=button], input[type=submit], button
  text-decoration: none
  border-color: #888
  border-color: rgba(0, 0, 0, 0.56)
  cursor: pointer
  outline: none
  color: #111
  display: inline-block
  vertical-align: top
  position: relative
  font-weight: bold
  text-align: center
  background-color: #9D3
  background-image: url(gradient.png)
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,0))
  background-image: -o-linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,0))
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.75)), to(rgba(255,255,255,0)))
  background-image: linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,0))
  background-repeat: repeat-x
  text-shadow: 1px 1px 0 rgba(255,255,255,.67)
  line-height: 2
  margin: 0 0 2em 1em
  padding: 0 2em
  height: 3em
  -moz-box-shadow: 1px 1px 0 rgba(255,255,255,.5) inset, -1px -1px 0 rgba(255,255,255,.5) inset
  -webkit-box-shadow: 1px 1px 0 rgba(255,255,255,.5) inset, -1px -1px 0 rgba(255,255,255,.5) inset
  box-shadow: 1px 1px 0 rgba(255,255,255,.5) inset, -1px -1px 0 rgba(255,255,255,.5) inset
  -webkit-transition: background .185s linear
  -moz-transition: all .185s linear
  -o-transition: all .185s linear
  transition: all .185s linear
  /** Make the text unselectable **/
  -moz-user-select: none
  -webkit-user-select: none
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.75), rgba(255,255,255,.33) 50%, transparent 50%, transparent 100%)
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.75)), color-stop(0.5, rgba(255,255,255,.33) ), color-stop(0.5, transparent ), to(transparent))
  background-repeat: repeat-x
  font-size: 18px

.button, .button:after, button, button:after, input[type=submit], input[type=button]
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  border-radius: 4px
  border-width: 1px
  border-style: solid
      
// Default font sizes

h1
  font-size: 2em
h2
  font-size: 1.5em
h3
  font-size: 1.17em

//

.vevent
  .description
    margin: 1em 0
    white-space: pre-wrap
  .attach
    float: right